/*#side {
    padding-top: 25px !important
}*/

#side header, .overlay {
    padding-left: 80px !important
}
/*
#side header, #side {
    -webkit-user-select: text;
    -webkit-app-region: drag;

}
*/

.web {
    -webkit-user-select: text;
    -webkit-app-region: drag;
    /*height: 90px;*/
    /*margin-top: 30px !important*/
}

#side label,#side span,[role="textbox"],.selectable-text,.copyable-text {
    -webkit-app-region: no-drag
}

header {
    -webkit-app-region: drag !important;
    /*height: 90px;*/
    /*margin-top: 30px !important*/
}